@import './reset.css';
@import './colors.css';

/* Definitions */
@font-face {
  font-family: "Departure Mono";
  src:
    local("Departure Mono"),
    url("/fonts/DepartureMono-Regular.otf") format("opentype"),
    url("/fonts/DepartureMono-Regular.woff") format("woff"),
    url("/fonts/DepartureMono-Regular.woff2") format("woff2");
}

:root {
  --font-family-primary: "Departure Mono";
  --font-family-heading: "Departure Mono";
  --font-family-code: "Departure Mono";
  /* daring today, aren't we */

  --font-size-base: 16.5px;
  --font-size-50: 11px;
  --font-size-100: calc(var(--font-size-base) * 1);
  --font-size-150: calc(var(--font-size-base) * 1.25);
  --font-size-200: calc(var(--font-size-base) * 1.5);
  --font-size-300: calc(var(--font-size-base) * 2);
  --font-size-400: calc(var(--font-size-base) * 3);

  --spacing-25: 0.25rem;
  --spacing-50: 0.5rem;
  --spacing-100: 1rem;
  --spacing-200: 2rem;
  --spacing-400: 4rem;

  --content-width: 50em;
  --footnote-border-length: 10em;
}

/* Layout */
body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-100);
  font-synthesis: none;

  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  transform: translateZ(0px);
  font-smooth: none;
}

.container {
  width: min(100vw, var(--content-width));
  margin: 0 auto;
  line-height: 1.5;
  padding: var(--spacing-100);
  container: main / inline-size;
}

main {
  margin: 0 auto;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  color: var(--color-heading);
  margin: var(--spacing-100) 0 var(--spacing-50);
}

h1 {
  font-size: var(--font-size-300);
  margin: var(--spacing-200) 0 var(--spacing-50);
  letter-spacing: -2px;
  line-height: 2;
}

h2 {
  font-size: var(--font-size-200);
  letter-spacing: -1px;
  line-height: 2;
}

h3 {
  font-size: var(--font-size-150);
  color: var(--color-heading);
}

h1::before {
  content: '█';
  margin-right: var(--spacing-100);
}

h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  content: '▒';
  /* enforce pixel perfect font size */
  font-size: 22px;
  margin-right: var(--spacing-50);
}

a,
a:link {
  color: var(--color-link);
  background-image: linear-gradient(to top, var(--color-link-highlight) 50%, transparent 0);
  background-position: top;
  background-size: 200% 200%;
  text-decoration: underline solid var(--color-link) 3px;
  /* transition: background-position 0.2s, color 0.2s; */
}

a:is(:hover, :visited:hover) {
  color: var(--color-background);
  background-position: bottom;
  text-decoration: underline solid var(--color-link-highlight) 3px;
  text-decoration-skip-ink: none;
}

header {
  color: var(--color-subtext);
  margin-bottom: var(--spacing-200);
}

.subheader {
  display: flex;
  gap: var(--spacing-100);
  align-items: center;
  font-size: var(--font-size-50);
}

.subheader a {
  text-decoration-thickness: 1px;
}

ul {
  padding: 0;
  margin: var(--spacing-50) 0;
  list-style: none;
  /* list-style: "♦" inside; */
}

/* no way to style ::marker, so here we are... */
ul li::before {
  content: "♦";
  margin-right: var(--spacing-50);

}

ul li.featured::before {
  content: "★";
}

ul li.regular::before {
  content: "✧";
}

/* Components */

/* Navigation bar */
nav {
  display: flex;
  margin: 0 auto;
  gap: var(--spacing-100);
  align-items: center;
}

nav .brand {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

nav a.brand:is(:link, :hover, :active, :visited, :visited:hover) {
  color: var(--color-link);
  background: transparent;
  text-decoration: none;
}

/* Front page */
.frontpage .brand {
  gap: var(--spacing-200);
}

.frontpage .brand--link {
  display: block;
  font-size: var(--font-size-300);
  cursor: auto;
}

.frontpage .brand--tagline {
  font-size: var(--font-size-50);
}

.frontpage main {
  margin: var(--spacing-200) 0;
}

/* Post category */
.badge {
  padding: var(--spacing-25);
  color: var(--color-background);
  background: var(--color-text);
  text-transform: uppercase;
}

/* Code blocks */
pre.z-code {
  margin: var(--spacing-100) 0;
  padding: var(--spacing-100);
  overflow: auto;
  background: var(--color-surface);
}

pre code {
  font-family: var(--font-family-code);
  padding: 0;
}

pre[data-linenos] {
  padding: var(--spacing-100) 0;
}

pre table td {
  padding: 0;
}

pre table td:nth-of-type(1) {
  text-align: center;
  vertical-align: top;
  user-select: none;
  color: var(--color-subtext);
  padding: 0 var(--spacing-25);
}

pre mark {
  display: block;
  background-color: var(--color-highlight);
  color: inherit;
}

pre table td:nth-of-type(1) mark {
  /* Line numbers */
  color: var(--color-subsubtext);
  background-color: transparent;
}

pre table {
  width: 100%;
  border-collapse: collapse;
}

code {
  padding: var(--spacing-25) var(--spacing-50);
  background-color: var(--color-surface);
}

/* Footnotes */
.footnotes {
  margin: var(--spacing-200) 0;
  padding: var(--spacing-50) 0;
  color: var(--color-subtext);
  font-size: var(--font-size-50);
  position: relative;
}

.footnotes::before {
  /* Add a partial border to the footnote section */
  content: "";
  background: var(--color-subtext);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--footnote-border-length);
  height: 1px;
}

.footnotes li {
  margin: var(--spacing-50) 0;
}

.footnotes a,
.footnote-reference a {
  text-decoration-thickness: 1px;
  font-size: var(--font-size-50);
}

/* Highlights */
mark {
  /* reset */
  background-color: transparent;
  color: inherit;
}

mark.primary {
  background-color: var(--color-mark);
  color: var(--color-background);
}

small {
  color: var(--color-subsubtext);
  font-size: var(--font-size-50);
}

/* Utilities */
.spacer {
  flex-grow: 1;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}


/* Responsiveness */
@media screen and (min-width: 50em) {
  .container {
    padding: var(--spacing-200);
  }

  nav {
    gap: var(--spacing-200);
  }

  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}

/* View transitions */
@view-transition {
  navigation: auto;
}

/* Accessibility */
@media (prefers-reduced-motion) {

  a,
  a:link {
    transition: none !important;
  }
}
