@import './reset.css';
@import './colors.css';

@font-face {
  font-family: "Departure Mono";
  src:
    local("Departure Mono"),
    url("/fonts/DepartureMono-Regular.otf") format("opentype"),
    url("/fonts/DepartureMono-Regular.woff") format("woff"),
    url("/fonts/DepartureMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Libre Baskerville";
  src:
    local("Libre Baskerville"),
    url("/fonts/LibreBaskerville-Bold.ttf") format("truetype");

  font-weight: bold;
}

@font-face {
  font-family: "Libre Baskerville";
  src:
    local("Libre Baskerville"),
    url("/fonts/LibreBaskerville-Italic.ttf") format("truetype");

  font-weight: normal;
  font-style: oblique;
}

:root {
  --font-size-base: 16.5px;

  --font-size-50: 11px;
  --font-size-100: calc(var(--font-size-base) * 1);
  --font-size-150: calc(var(--font-size-base) * 1.25);
  --font-size-200: calc(var(--font-size-base) * 1.5);
  --font-size-300: calc(var(--font-size-base) * 2);
  --font-size-400: calc(var(--font-size-base) * 3);

  --spacing-50: 0.5rem;
  --spacing-100: 1rem;
  --spacing-200: 2rem;
  --spacing-400: 4rem;

  --content-width: 50em;
}

body {
  background: var(--color-background);
  color: var(--color-text);

  font-family: "Departure Mono";
  font-size: var(--font-size-100);
  text-rendering: optimizeLegibility;
  font-synthesis: none;
}

h1 {
  font-size: var(--font-size-300);
  color: var(--color-header);
  margin: var(--spacing-200) 0 var(--spacing-100);
  letter-spacing: -2px;
  line-height: 2;
}

h2 {
  font-size: var(--font-size-200);
  color: var(--color-header);
  margin: var(--spacing-200) 0 var(--spacing-100);
  letter-spacing: -1px;
  line-height: 2;
}

h3 {
  font-size: var(--font-size-150);
  color: var(--color-header);
  margin: var(--spacing-200) 0 var(--spacing-100);
}

h1::before {
  content: '█';
  margin-right: var(--spacing-100);
}

h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  content: '▒';
  margin-right: var(--spacing-50);
}

a:link {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link);
  text-decoration: underline solid var(--color-link) 3px;
  text-decoration-skip-ink: all;
}

a:is(:visited, :visited:hover, :active) {
  color: var(--color-link-visited);
  text-decoration-color: var(--color-link-visited);
}

header {
  color: var(--color-subtext);
}

main {
  margin: 0 auto;
  padding: var(--spacing-200);
  width: var(--content-width);
  position: relative;
  line-height: 1.5;
}

nav {
  display: flex;
  width: var(--content-width);
  margin: 0 auto;
  padding: var(--spacing-200);
  gap: var(--spacing-200);
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

nav .spacer {
  flex-grow: 1;
}

nav a:is(:link, :hover, :active, :visited, :visited:hover) {
  color: var(--color-nav-link);
  text-decoration-color: var(--color-nav-link);
}

.brand--link {
  cursor: pointer;
  user-select: none;
}

.badge {
  padding: var(--spacing-50);
  color: var(--color-background);
  background: var(--color-text);
  text-transform: uppercase;
}

.subheader {
  display: flex;
  gap: var(--spacing-100);
  align-items: center;
}
