<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>
      {% block title %}
      {{ config.title }}
      {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="/syntax-theme-dark.css" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" type="text/css" href="/syntax-theme-light.css" media="(prefers-color-scheme: light)" />
    <link rel="stylesheet" href="/style.css" />

    <link rel="icon" href="/favicon.ico" sizes="16x16">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">

    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#eff1f5" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1e1e2e" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block meta %}
    <meta property="og:title" content="{{ config.title }}" />
    <meta property="og:image" content="/preview.png" />
    <meta property="og:image:type" content="image/png" />
    {% endblock %}
  </head>

  <body>
    {% block body %}
    {% endblock %}
  </body>

  <script src="/js/application.js"></script>
</html>
