<!DOCTYPE html>
<html lang="en" theme="catppuccin-latte">

<head>
  <meta charset="utf-8">
  <title>crescentro.se</title>
  <link rel="stylesheet" href="/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="container">
    <nav>
      <hr class="clip">
      <div>crescentrose</div>
      <div>all posts</div>
      <div>github</div>
    </nav>
    <main>
      {% block content %} {% endblock %}
    </main>
  </div>

  <footer>
    <p>peepee poopoo</p>
  </footer>
</body>

</html>
