<!DOCTYPE html>
<html lang="en" theme="catppuccin-mocha">

<head>
  <meta charset="utf-8">
  <title>crescentro.se</title>
  <link rel="stylesheet" href="/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <nav>
    <a class="brand" href="{{ get_url(path='/') }}">
      <img src="/icon@2x.png"
        class="logo"
        role="img"
        aria-label="logo - a little silhouette of a black cat"
      />
      <div class="brand--link">crescentro.se</div>
    </a>
    <div class="spacer"></div>
    <a href="#">Foo</a>
    <a href="{{ get_url(path='@/blog/_index.md') }}">Posts</a>
  </nav>
  <main>
    {% block content %} {% endblock %}
  </main>
</body>

</html>
