<!DOCTYPE html>
<html lang="en" theme="catppuccin-latte">

<head>
  <meta charset="utf-8">
  <title>crescentro.se</title>
  <link rel="stylesheet" href="/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <center>
    <!-- the idea with this was to make the printout come out of a pixelated dot-matrix printer,
      with buttons on the printer to switch between pages. however I don't think I can get
      this to work on smaller screens so I scrapped it before investing time into making it
      work !-->
    <img src="/developer-art.png" />
  </center>
  <div class="container">
    <main>
      {% block content %} {% endblock %}
    </main>
  </div>

  <footer>
    <p>peepee poopoo</p>
  </footer>
</body>

</html>
