<style>
  [theme="catppuccin-latte"] {
    --color-business-card-background: var(--ctp-latte-mantle);
    --color-business-card-border: var(--ctp-latte-crust);
    --color-business-card-header: var(--ctp-latte-text);
    --color-business-card-text: var(--ctp-latte-subtext1);
    --color-business-card-link: var(--ctp-latte-subtext0);
    --color-business-card-link-hover: var(--ctp-latte-text);
    --color-business-card-subtext: var(--ctp-latte-rosewater);
    --color-business-card-divider: var(--ctp-latte-rosewater);
  }

  .business-card {
    margin-top: 10em;
    margin-left: 5em;
    padding: var(--spacing-200);
    background-color: var(--color-business-card-background);
    border: 1px solid var(--color-business-card-border);
    color: var(--color-business-card-text);
    width: var(--card-width);
    height: var(--card-height);
    box-shadow:
      -5px 10px 25px var(--color-shadow),
      -2px 5px 5px var(--color-shadow);
    display: flex;
    flex-direction: column;
  }

  .business-card a {
    color: var(--color-business-card-link);
  }

  .business-card a:hover {
    color: var(--color-business-card-link-hover);
  }

  .business-card__container {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .business-card__container--main {
    flex-grow: 1;
    flex-direction: column;
    margin: var(--spacing-100) 0;
  }

  .business-card__container--spread {
    justify-content: space-between;
  }

  .business-card__company {
    font-family: "Libre Baskerville";
    font-variant-caps: small-caps;
    font-weight: bold;
    color: var(--color-business-card-subtext);
    margin: 0 var(--spacing-100);
  }

  hr.business-card__divider {
    flex-grow: 1;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-business-card-divider);
  }

  .business-card__name {
    font-size: var(--font-size-150);
    color: var(--color-business-card-header);
  }

  .business-card__motto {
    font-family: "Libre Baskerville";
    font-size: var(--font-size-50);
    margin: 0 var(--spacing-50);
    font-style: oblique;
    color: var(--color-business-card-subtext);
  }

  .business-card__left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: stretch;
  }

  .business-card__right {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: end;
  }
</style>

<nav class="business-card">
  <div class="business-card__container">
    <hr class="business-card__divider">
    <span class="business-card__company">Halcyon Industries</span>
    <hr class="business-card__divider">
  </div>

  <div class="business-card__container business-card__container--main">
    <div class="business-card__name">Basil Exposition</div>
    <div class="business-card__title">Importer / Exporter</div>
  </div>

  <div>
    <div class="business-card__container business-card__container--spread">
      <div class="business-card__left">
        hi&commat;crescentro.se
      </div>
      <div class="business-card__right">
        <a href="#">Link</a>
      </div>
    </div>
  </div>
  <div class="business-card__container">
    <hr class="business-card__divider">
    <span class="business-card__motto">&ldquo; Meow! &rdquo;</span>
    <hr class="business-card__divider">
  </div>
</nav>
