{% extends "_base.html" %}
{% import "macros.html" as macros %}
{% block body %}
<div class="container frontpage">
  <nav>
    <div class="brand">
      <img
          src="/icon@4x.png"
          class="brand--logo"
          alt="logo - a little silhouette of a black cat"
          srcset="/icon@3x.png 60w, /icon@4x.png 80w"
          sizes="(min-width: 50em) 80px, 60px"
        />
      <div>
        <div class="brand--link">{{ config.title }}</div>
        <div class="brand--tagline">{{ config.description }}</div>
      </div>
    </div>
  </nav>

  <main>
    <section>
      <p>I write code sometimes.</p>
      <p>This place is currently a heavy WIP, but I've been sitting on it for months in my quest for
      perfection and I need to learn to let things go, so you're currently seeing a rough draft that
      lacks a lot of polish and past content.</p>
    </section>
    <section>
      <h2>Recent musings</h2>
      <ul class="post-list">
      {% set posts = get_section(path="posts/_index.md") %}
      {% set recents = posts.pages | slice(end=10) %}
      {% for post in recents %}
        {% if post.extra.featured %}
        {% set article_class = "featured" %}
        {% else %}
        {% set article_class = "regular" %}
        {% endif %}

        <li class="{{ article_class }}"><a href="{{ post.path | safe }}">{{ post.title }}</a><br/>
          {{ post.description }}
        </li>
      {% endfor %}
      </ul>

      <a href="{{ macros::rel_url(path='@/posts/_index.md') }}">All →</a>
    </section>

    <section>
      <h2>Find me elsewhere</h2>

      <ul>
        <li><a href="https://github.com/crescentrose" rel="me">@crescentrose on GitHub</a></li>
        <li><a href="https://bsky.app/profile/crescentro.se" rel="me">@crescentro.se on Bluesky</a></li>
        <li><a href="https://www.last.fm/user/crescentr0se">crescentr0se on last.fm</a></li>
        <li><a href="https://rateyourmusic.com/~crescentrose">crescentrose on RYM</a></li>
        <li><a href="https://steamcommunity.com/id/staple-stable">viora on Steam</a></li>
        <li><a href="https://discord.com/users/95105078385446912">viora on Discord</a></li>
      </ul>
    </section>

    <section>
      <details class="h-card">
        <summary>Card</summary>
        <div class="card">
          <img src="/icon@3x.png" class="u-photo" alt="profile picture - a little silhouette of a black cat" />
          <a class="u-url p-name" rel="me" href="https://crescentro.se">crescentrose</a>
          <div class="p-note">chaotic neutral</div>
          <div class="card-email">
            <a class="u-email" rel="me" href="mailto:hi@crescentro.se">hi@crescentro.se</a>
          </div>
        </div>
      </details>
    </section>
  </main>
</div>
{% endblock body %}
