{% extends "_page.html" %}
{% import "macros.html" as macros %}

{% block title %}
{{ page.title }} // crescentro.se
{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
{% if page.author is defined %}
<meta property="article:author" content="{{ page.author }}" />
{% else %}
<meta property="article:author" content="{{ config.author }}" />
{% endif %}
<meta property="og:description" content="{{ page.description }}" />
{% endblock meta %}

{% block preview_image %}

{% if page.colocated_path %}
{% set image_path = page.colocated_path ~ "preview.png" %}
{% else %}
{% set image_path = "/preview.png" %}
{% endif %}

{% set image_meta = get_image_metadata(path=image_path, allow_missing=true) %}
{% if image_meta.width is defined %}
<meta property="og:image" content="{{ get_url(path=image_path) }}" />
<meta property="og:image:width" content="{{ image_meta.width }}" />
<meta property="og:image:height" content="{{ image_meta.height }}" />
<meta property="og:image:type" content="{{ image_meta.mime }}" />
<meta property="og:image:alt" content="Preview of an article: {{ page.title }}" />
{% endif %}
{% endblock preview_image %}

{% block content %}
<article class="h-entry">
  <header>
    <h1 class="p-name">
      {{ page.title }}
    </h1>

    <div class="subheader">
      {% if page.draft %}
      <span class="badge">Draft</span>
      <span>&#47;&#47;</span>
      {% endif %}
      {% set section_name = page.ancestors | last %}
      {% set section = get_section(path=section_name) %}
      {% if section.extra.badge_color is defined %}
      {% set section_style = section.extra.badge_color %}
      {% else %}
      {% set section_style = "" %}
      {% endif %}
      <a class="badge {{ section_style }} p-category link--reset" href="{{ macros::rel_url(path=section.permalink) }}">{{ section.title }}</a>
      <span>&#47;&#47;</span>
      <time class="dt-published">{{ page.date }}</time>
      <span>&#47;&#47;</span>
      <span><a href="{{ current_url }}" class="u-url">Permalink</a></span>
    </div>
  </header>

  <div class="e-content">
  {{ page.content | safe }}
  </div>
</article>

<footer>
  <a href="#top">↑ back to top</a>
</footer>
{% endblock content %}
