{% extends "_page.html" %}

{% block title %}
{{ page.title }} // crescentro.se
{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
{% if page.author is defined %}
<meta property="article:author" content="{{ page.author }}" />
{% else %}
<meta property="article:author" content="{{ config.author }}" />
{% endif %}
{% endblock meta %}

{% block preview_image %}

{% if page.colocated_path %}
{% set image_path = page.colocated_path ~ "preview.png" %}
{% else %}
{% set image_path = "/preview.png" %}
{% endif %}

{% set image_meta = get_image_metadata(path=image_path, allow_missing=true) %}
{% if image_meta.width is defined %}
<meta property="og:image" content="{{ get_url(path=image_path) }}" />
<meta property="og:image:width" content="{{ image_meta.width }}" />
<meta property="og:image:height" content="{{ image_meta.height }}" />
<meta property="og:image:type" content="{{ image_meta.mime }}" />
<meta property="og:image:alt" content="Preview of an article. Heading: {{ page.title }}" />
{% endif %}
{% endblock preview_image %}


{% block content %}
<article>
  <header>
    <h1>
      {{ page.title }}
    </h1>

    <div class="subheader">
      <span class="badge">Informational</span>
      <span>&#47;&#47;</span>
      <time>{{ page.date }}</time>
      <span>&#47;&#47;</span>
      <span><a href="{{ current_url }}">Permalink</a></span>
    </div>
  </header>

  {{ page.content | safe }}
</article>
{% endblock content %}
